@theme {
  --font-sans: var(--font-sans);
  --color-c-primary: var(--primary);
  --color-c-secondary: var(--secondary);
  --color-c-secondary-sub: var(--secondary-sub);
  --color-c-btn-primary: var(--btn-primary);
  --color-c-yellow: var(--yellow);
  --color-c-blue: var(--blue);
  --color-c-red: var(--red);
  --color-c-violet: var(--violet);
  --color-c-green: var(--green);
  --color-c-gray: var(--gray);
  --color-c-pink: var(--pink);
  --color-c-text-primary: var(--text-primary);
  --color-c-muted: var(--shannon-muted);
  --color-c-modal-bg: var(--glass-modal-bg);
  --color-c-modal-text: var(--glass-modal-text);
  --color-c-modal-sub: var(--glass-modal-sub-text);
}